{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <title>ShopYourLinks Dashboard</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        <!-- UIkit CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.8/css/uikit.min.css" />

        <!-- UIkit JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.8/js/uikit.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.8/js/uikit-icons.min.js"></script>

        <!-- Pygal js -->
        <script type="text/javascript" src="http://kozea.github.com/pygal.js/latest/pygal-tooltips.min.js"></script>

        <!-- Custom Stylesheet -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <nav class="uk-navbar-container" uk-navbar>
            <div class="uk-navbar-left uk-margin-left">
                <a class="uk-navbar-item uk-logo" href="#">ShopYourLinks Dashboard</a>
            </div>
            <div class="uk-navbar-right uk-margin-right">
                <ul class="uk-navbar-nav">
                    <li class="nav-item">
                        <a href="/">
                            <div>
                                <span uk-icon="social"></span>
                                <div class="uk-navbar-subtitle">Insights</div>
                            </div>
                        </a>
                    </li>
                    {% if user.is_authenticated == False %}
                        <li class="nav-item">
                            <a href="{% url 'login' %}">
                                <div>
                                    <span uk-icon="sign-in"></span>
                                    <div class="uk-navbar-subtitle">login</div>
                                </div>
                            </a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                                <a href="/admin">
                                    <div>
                                        <span uk-icon="settings"></span>
                                        <div class="uk-navbar-subtitle">Admin</div>
                                    </div>
                                </a>
                            </li>
                        <li class="nav-item">
                            <a href="{% url 'logout' %}">
                                <div>
                                    <span uk-icon="sign-out"></span>
                                    <div class="uk-navbar-subtitle">Logout</div>
                                </div>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        <div class="uk-container uk-container-expand uk-margin-medium-top uk-margin-medium-bottom">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>
